In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("Car prices.csv", sep = "|")
data

,semel_yevuan,shem_yevuan,sug_degem,tozeret_cd,tozeret_nm,degem_cd,degem_nm,shnat_yitzur,mehir,kinuy_mishari
0,110,"צ'מפיון מוטורס בע""מ",M,724,פולקסווגן גרמנ,612,2EE1H5,2016,288000,CRAFTER
1,110,"צ'מפיון מוטורס בע""מ",M,724,פולקסווגן גרמנ,635,7HC-7EB137,2016,322000,TRANSPORTER
2,110,"צ'מפיון מוטורס בע""מ",M,724,פולקסווגן גרמנ,646,7HC-SGBTF7,2016,400500,CARAVELLE
3,110,"צ'מפיון מוטורס בע""מ",M,724,פולקסווגן גרמנ,649,7HC-SGJ1F7,2017,333800,TRANSPORTER
4,110,"צ'מפיון מוטורס בע""מ",M,724,פולקסווגן גרמנ,649,7HC-SGJ1F7,2016,347300,TRANSPORTER
...,...,...,...,...,...,...,...,...,...,...
33333,767,מיכאל ביטון,P,728,"פורד ארה""ב",249,P8U,2022,250000,MUSTANG
33334,134,קבוצת עמק איילון,P,728,"פורד ארה""ב",262,P8T,2019,339500,MUSTANG
33335,134,קבוצת עמק איילון,P,728,"פורד ארה""ב",262,P8T,2020,339500,MUSTANG
33336,134,קבוצת עמק איילון,P,728,"פורד ארה""ב",262,P8T,2022,310000,MUSTANG
33337,134,קבוצת עמק איילון,P,728,"פורד ארה""ב",262,P8T,2021,310000,MUSTANG

In [4]:
data.describe(include = 'all')

,semel_yevuan,shem_yevuan,sug_degem,tozeret_cd,tozeret_nm,degem_cd,degem_nm,shnat_yitzur,mehir,kinuy_mishari
count,33338.000000,33338,33338,33338.000000,33338,33338.000000,33338,33338.000000,3.333800e+04,33338
unique,NaN,384,2,NaN,183,NaN,3671,NaN,NaN,1840
top,NaN,"צ'מפיון מוטורס בע""מ",P,NaN,מרצדס בנץ גרמנ,NaN,3E7E,NaN,NaN,MODEL 3
freq,NaN,4985,30623,NaN,4005,NaN,361,NaN,NaN,571
mean,224.629402,NaN,NaN,589.891235,NaN,457.740986,NaN,2019.049403,3.557862e+05,NaN
std,180.823624,NaN,NaN,295.290148,NaN,594.228398,NaN,1.962770,2.909767e+05,NaN
min,102.000000,NaN,NaN,11.000000,NaN,1.000000,NaN,2016.000000,4.000000e+04,NaN
25%,110.000000,NaN,NaN,404.000000,NaN,78.000000,NaN,2017.000000,1.689000e+05,NaN
50%,130.000000,NaN,NaN,624.000000,NaN,209.000000,NaN,2019.000000,2.769000e+05,NaN
75%,242.000000,NaN,NaN,787.000000,NaN,605.000000,NaN,2021.000000,4.290000e+05,NaN
max,878.000000,NaN,NaN,1394.000000,NaN,3091.000000,NaN,2022.000000,6.202001e+06,NaN

In [5]:
pd.isnull(data).sum()

semel_yevuan     0
shem_yevuan      0
sug_degem        0
tozeret_cd       0
tozeret_nm       0
degem_cd         0
degem_nm         0
shnat_yitzur     0
mehir            0
kinuy_mishari    0
dtype: int64